<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Archetype Created Web Application</display-name>

  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>webApp.root</param-value>
  </context-param>

  <!-- 加载spring的配置文件-->
  <!-- ContextLoaderListener监听器：监听Web容器，一旦启动，自动装配ApplicationContext的配置信息 -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!-- 告知ApplicationContext的位置在哪，如果不配置，默认去/WEB-INF目录下找 -->
  <!-- 如果是监听多个文件，可用‘,’隔开 -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>


  <!-- 注册Spring核心编码过滤器。注意一点:要配置在所有过滤器的前面 -->
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- 配置HiddenHttpMethodFilter，把POST请求转换为Delete或Put请求 -->
  <filter>
      <filter-name>HiddenHttpMethodFilter</filter-name>
      <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    <init-param>
      <param-name>methodParam</param-name>
      <!-- 如果是_method那么不设置也可以，因为默认就是_method  -->
      <param-value>_method</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>HiddenHttpMethodFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>


  <!--把静态资源交给tomcat的defaultSerlvet处理（不建议）
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.html</url-pattern>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.png</url-pattern>
      <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
  -->


  <!-- 注册springmvc核心控制器  -->
  <servlet>
    <servlet-name>DispatcherServlet1</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <!-- 这里的内容contextConfigLocation不能修改，它不像其他name属性可以自己命名，它是容器内在属性  -->
      <param-name>contextConfigLocation</param-name>
      <!-- WEB项目时这些配置文件都在classes目录下，classpath就是让它去这里找  -->
      <param-value>classpath:SpringMvc-1.xml</param-value>
    </init-param>
    <!--服务器启动就一起初始化,数值越小,优先级越高
           服务器启动的时候就加载bean类（Controller）
       -->
    <load-on-startup>1</load-on-startup>
  </servlet>


  <servlet-mapping>
    <servlet-name>DispatcherServlet1</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>


    <!-- 设置欢迎页，路径为webapp下的路径，加后缀名.jsp
    <welcome-file-list>
        <welcome-file>/jsp/login.jsp</welcome-file>
    </welcome-file-list>
    -->







</web-app>
